.env
/.streamlit/config.toml
config.yaml
todo

# Python
__pycache__
*.pyc
*.pyo
*.pyd
*.py[cod]
*$pyclass.*
*.so
*.egg-info/
dist/
build/
eggs/
parts/
bin/
develop-eggs/
.installed.cfg
*.ini
.env
.venv
env/
ENV/
virtualenv/
.Python
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
.mypy_cache/
.pytype/
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Streamlit specific
/.streamlit/
secrets.toml

# Data files
*.csv
*.log
*.sqlite3
*.db
*.h5
*.parquet
*.avro
*.snappy
*.orc
*.feather
*.xlsx
*.xls
*.json
*.pkl
*.joblib
*.pth
*.pt
*.onnx
*.pb
*.tflite
*.keras

# OS generated
.DS_Store
Thumbs.db
desktop.ini

# Jupyter Notebooks
.ipynb_checkpoints
*.ipynb
nbproject/

# MLflow
/mlruns
.mlflow

# Logs and datasets should not be committed
/data
/output
/results